.wrapper {
    width: 1280px;
    margin: 50px auto;
}

header .logo {
    font-size: 20px;
    font-weight: 600;
}

header ul.nav {
    float: right;
    list-style: none;
}

header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
}

header ul.nav li:hover {
    opacity: 0.5;
}

header .presentation {
    margin: 50px 0;
    background: url('../public/mt.jpg');
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    width: 100%;
    height: 500px;
    background-color: #bcbcbc;
    position: relative;
}

header .presentation::after {
    position: absolute;
    content: 'Metall is here... inside';
    top: 100px;
    left: 50px;
    width: 400px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

header .presentation::before {
    position: absolute;
    content: 'the best price';
    top: 210px;
    left: 50px;
    width: 400px;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
}

.footer {
    margin-top: 100px;
    text-align: center;
}