.img {
    width: 100%;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
}

.img:hover {
    transform: scale(1.05);
}

.h2, .p, .b {
    margin: 10px 20px;
    color: #333;
}

.b {
    color: #5fa36a;
}

.addCart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer; 
    font-weight: 600;
    transition: transform 500ms ease;
}

.addCart:hover {
    transform: scale(1.5) translateY(-5px);
}

.ordItem {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.ordImg {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 20px;
}

.ordb {
    font-weight: 600;
    color: #797979
}

.delete {
    float: right;
    position: relative;
    top: -25px;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

.delete:hover {
    color: #ca5252;
    transform: scale(1.5);
}

